.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
	display: flex;
	margin-top: 2em;
	max-width: 100%;
}

#preview {
	margin-left: 3em;
	margin-right: 3em;
	max-width: 40em;
	overflow: auto;
}

#codeblock {
	width: 46em;
	margin-left: auto;
	margin-right: auto;
}

.annotation {
	border: 1px solid darkseagreen;
	border-radius: 5px;
	margin-top: 0.5em;

	padding: 0.6em 0.2em 0.6em 1em;
	background-color: greenyellow;
	width: 36em;
	margin-left: auto;
	margin-right: auto;
}


.annotation:hover {
	border: 3px solid green;
}

.textvalue {
	white-space: pre;
	width: 52em;
	height: 12em;
	margin: 0.5em 0em 0.5em 0em;
	padding: 1em 0em 2em 0em;
	border: 1px solid black;

}

.leftside {
	display: flex;
	flex-direction: column;
}

.rightside {
  display: block;
  margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	min-width: 50%;

}